p, h1 {
  font-family: 'Josefin Sans', sans-serif;
}

.jumbotron {
  margin-top: 25px;
}

.gameBox {
  width: 535px;
  margin: auto;
  padding-right: 25px;
  padding-left: 25px;
  background-color: rgba(245, 245, 245, 0);
  border: none;
}

.row {
  margin: auto;
  padding: 0px;
  width: 450px;
  height: 150px;
}

.col-xs-4 {
  padding: 0px;
  margin: 0px;
  height: 150px;
  width: 150px;
}


.panel {
  height: 150px;
  width: 150px;
  margin: 0px;
  padding: 0px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

h1 {
  margin: auto;
  padding-top:  33%;
  padding-bottom: 33%;
}

p {

}

.tl {
  border-left: none;
  border-top: none;
}

.tm {
  border-top: none;
}

.tr {
  border-top: none;
  border-right: none;
}

.ml {
  border-left: none;
}

.mr {
  border-right: none;
}

.bl {
  border-left: none;
  border-bottom: none;
}

.bm {
  border-bottom: none;
}

.br {
  border-bottom: none;
  border-right: none;
}

#playAgain {
  display: none; 
}
